%div(data-role="header" data-position="inline")
  %h1 Restaurants
%div(data-role="content")
  %ul.ui-listview{"data-role" => "listview"}
    %li
      %div.feed_item
        %div.feed_head(style="display:inline-block;")
          %img(src="https://twimg0-a.akamaihd.net/profile_images/1779442552/image1327462410_reasonably_small.png" style="width:40px;height:40px;display:block;float:left;margin-right:5px;")
          %a(href="http://maps.google.com?q=2401 Harrison Street, San Francisco, CA")
            %span.feed_place Rickshaw Bagworks
          %br
          %span.feed_user Brad Feld
    %li
      %div.feed_item
        %div.feed_head(style="display:inline-block;")
          %img(src="https://twimg0-a.akamaihd.net/profile_images/1779442552/image1327462410_reasonably_small.png" style="width:40px;height:40px;display:block;float:left;margin-right:5px;")
          %a(href="http://maps.google.com?q=2401 Harrison Street, San Francisco, CA")
            %span.feed_place Rickshaw Bagworks
          %br
          %span.feed_user Brad Feld
        %div.feed_body
          %img(src="https://instagr.am/p/Kv2B8lw_N6/media/?size=m")
    - @feed.each do |item|
      - if item['idr'] =~ /instagram/
        %li
          %div.feed_item
            %div.feed_head(style="display:inline-block;")
              %img(src="#{item['data']['user']['profile_picture']}" style="width:40px;height:40px;display:block;float:left;margin-right:5px;")
              %a(href="http://maps.google.com?q=#{item['foursquare_venue']['location']['address']} #{item['foursquare_venue']['location']['city']} #{item['foursquare_venue']['location']['state']} #{item['foursquare_venue']['location']['postalCode']}")
                %span.feed_place venuename item['foursquare_venue']['name']
              %br
              %span.feed_user item['normailzed']['user_name']
            %div.feed_body
              %img(src="#{item['data']['images']['low_resolution']['url']}" height="306px" width="306px")
      - else
        %li
          %div.feed_item
            %div.feed_head(style="display:inline-block;")
              %img(src="#{item['data']['user']['photo']}" style="width:40px;height:40px;display:block;float:left;margin-right:5px;")
              %a(href="http://maps.google.com?q=#{item['venue']['location']['address']} #{item['venue']['location']['city']} #{item['venue']['location']['state']} #{item['venue']['location']['postalCode']}")
                %span.feed_place venuename item['venue']['name']
              %br
              %span.feed_user item['normailzed']['user_name']
